.fav-container {
  width: auto;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.fav-items-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
  font-weight: lighter;
}

.fav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: wrap;
  align-items: center;
}

.fav-item {
  width: 100%;
  max-width: 300px;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.fav-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fav-header {
  position: relative;
}

.fav-image {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.fav-body {
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.fav-name {
  font-size: 1.2em;
  color: #333;
  margin: 0;
}

.fav-description {
  font-size: 0.9em;
  color: #666;
  margin: 10px 0;
  flex-grow: 1;
}

.fav-price {
  font-size: 1.1em;
  color: #333;
  margin: 10px 0;
}

.fav-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fav-add-to-cart {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.fav-add-to-cart:hover {
  background-color: #0056b3;
}

.fav-add-to-cart:focus {
  outline: none;
}

.fav-remove {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.fav-remove:hover {
  background-color: #c82333;
}

.fav-remove:focus {
  outline: none;
}

.fav-items-quantity {
  color: gray;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
.fav-signin-before {
  text-align: center;
  margin-top: 20px;
  color: gray;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
