.homepage {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
.greeting {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: lightslategray;
}
.homepage-message {
font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
font-size: 25px;
}
.homepage-message-2 {
  font-weight: lighter;
  color: light rgb(198, 195, 195);
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 200px;
}

.category-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.category-card h2 {
  margin: 10px 0;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.creators-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.creators {
  display: flex;
  gap: 20px;
}

.creator {
  position: relative;
  cursor: pointer;
  color: #0073e6;
  margin: 5px 0;
  transition: color 0.3s;
}

.creator-name:hover {
  color: #005bb5;
}

.creator-links {
  position: absolute;
  left: 0;
  display: none;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.creator-links.visible {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.creator-links a {
  text-decoration: none;
  color: rgb(255, 153, 0);
  transition: color 0.3s;
}

.creator-links a:hover {
  color: rgb(217, 130, 0);
}

.content-wrap {
  flex: 1;
}
