.product-detail-page {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.product-deets-name {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.product-image {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 8px;
}

.product-deets-description {
  margin: 20px 0;
  font-size: 1.2em;
  color: #666;
}

.product-deets-price {
  font-size: 1.5em;
  color: #333;
  margin: 20px 0;
}

/* .leave-review-button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

.leave-review-button:hover {
  background-color: darkorange;
} */
