.create-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.create-review label {
  width: 100%;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: bold;
}

.create-review input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

.create-review .input-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create-review .input-rating div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.create-review .form-errors {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.create-review button {
  background-color: #ff9900;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
}

.create-review button:hover {
  background-color: darkorange
}

.create-review label > div {
  margin-top: 5px;
}

.review-modal-container {
  border-radius: 20px;
  overflow: hidden;
}
